<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="docMapper">

    <!--根据Username获取对应的值  -->
    <select id="findFileByUserId" parameterType="int" resultType="Bean.DocBean">
        select * from doc where userid= #{userid}
    </select>


    <select id="findFileByUserIdAndGroupId"  parameterType="HashMap"  resultType="Bean.DocBean">

        select * from doc where userid= #{userid} and groupid=#{groupid}


    </select>

    <select id="findAllFile" parameterType="String" resultType="Bean.DocBean">
        select * from doc
    </select>


    <select id="findFileByDocGroupid" parameterType="int" resultType="Bean.DocBean">
        select * from doc where groupid =#{groupid}

    </select>


    <insert id="addFile" parameterType="Bean.DocBean">
        insert into doc(userid,username,filename,fileurl,filenametime,groupid,viewurl)  values(#{userid},#{username},#{filename},#{fileurl},#{filenametime},#{groupid},#{viewurl})
    </insert>

    <!--<insert id="addFileToCenter" parameterType="Bean.DocBean>-->
        <!--insert into filecenter(id,username,filename,fileurl,filenametime)  values(#{id},#{username},#{filename},#{fileurl},#{filenametime})-->
    <!--</insert>-->



    <delete id="delFileByObjId" parameterType="int" >

        delete from doc where  objectid=#{objectid}
    </delete>


    <select id="findAllDocGroup" parameterType="String" resultType="Bean.DocGroupBean">

    select * from docgroup

    </select>

    <insert id="addDocGroup" parameterType="Bean.DocGroupBean">
        insert into  docgroup (groupname,notification) values (#{groupname},#{notification})
    </insert>

    <delete id="delDocGroupById" parameterType="int">
        delete from docgroup where objectid = #{ objectid}

    </delete>



</mapper>

