<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paperMapper">




    <select id="findAllPaper" parameterType="String" resultType="Bean.PaperBean">
        select * from paper
    </select>


    <select id="findPaperById" parameterType="int" resultType="Bean.PaperBean">
        select * from paper where objectid=#{objectid}
    </select>

</mapper>
