<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scoreMapper">




    <select id="findAllScore" parameterType="String" resultType="Bean.ScoreBean">
        select * from score
    </select>


    <select id="findScoreById" parameterType="int" resultType="Bean.ScoreBean">
        select *  from score where userid=#{userid}
    </select>


    <select id="findScoreByPaperId" parameterType="int" resultType="Bean.ScoreBean">
        select * from score where paperid =#{paperid}
    </select>

    <insert id="addScore" parameterType="Bean.ScoreBean">
        insert into score (paperid,papertitle,userid,username,singlechoice,fillblank,tof,score)
       values (#{paperid},#{papertitle},#{userid},#{username},#{singlechoice},#{fillblank},#{tof},#{score})
    </insert>




</mapper>
