<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <!--根据ID获取对应的值  -->
    <select id="findUserById" parameterType="int" resultType="Bean.UserBean">
        select * from user where userid= #{userid}
    </select>

    <insert id="addUser" parameterType="Bean.UserBean">
        insert into user(username,userid,password,school,major,classes)  values(#{username},#{userid},#{password},#{school},#{major},#{classes})
    </insert>



    <update id="updateUser" parameterType="Bean.UserBean" >

        update user set username=#{username},
                        userid=#{userid},
                        password=#{password},
                        school=#{school},
                        major=#{major},
                        classes=#{classes},


                        where userid=#{userid}
    </update>

</mapper>

